https://www.kaggle.com/datasets/anmolkumar/health-insurance-cross-sell-prediction

# 0.0) Imports

In [1]:
import pandas as pd

# 0.1) Helper Functions

# 0.2) Load Data

In [2]:
df_raw = pd.read_csv('../datasets/raw/df_raw.csv')

In [3]:
df_raw.head()

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,1,Male,44,28.0,26.0,1,> 2 Years,Yes,0,40454.0,217,1
1,2,Male,76,3.0,26.0,1,1-2 Year,No,0,33536.0,183,0
2,3,Male,47,28.0,26.0,1,> 2 Years,Yes,0,38294.0,27,1
3,4,Male,21,11.0,152.0,1,< 1 Year,No,1,28619.0,203,0
4,5,Female,29,41.0,152.0,1,< 1 Year,No,1,27496.0,39,0